.spacer {
  flex: 1 1 auto;
}

.root-content {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 1rem;
}

.scroll {
  overflow-y: scroll;
}

.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & mat-card {
    margin-left: 1rem;
  }
}

.center-heading {
  text-align: center;
}
