<mat-toolbar color="primary">
  <span>
    Car Tracker
    <span *ngIf="fileTitle"> - {{ fileTitle }}</span>
  </span>
  <span class="spacer"></span>
  <div>
    <button
      mat-icon-button
      aria-label="Create New File"
      matTooltip="Create New File"
      (click)="createNewSave()"
    >
      <mat-icon>library_add</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Open File"
      matTooltip="Open File"
      (click)="openSave()"
    >
      <mat-icon>folder_open</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Toggle Theme"
      [matTooltip]="
        userData?.darkMode ? 'Switch To Light Mode' : 'Switch To Dark Mode'
      "
      (click)="setTheme()"
    >
      <mat-icon>{{ userData?.darkMode ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div *ngIf="tableData?.length > 0" class="content">
  <h2 class="center-heading">Personal Bests</h2>
  <div class="summary-container mb-2">
    <mat-card class="dark-card">
      <mat-card-title>R/T</mat-card-title>
      <mat-card-content>{{ bestRT?.value }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card">
      <mat-card-title>60'</mat-card-title>
      <mat-card-content>{{ best60?.value }}</mat-card-content>
    </mat-card>
    <!-- <mat-card class="dark-card">
      <mat-card-title>Front Split</mat-card-title>
      <mat-card-content>{{ bestFS?.value }}</mat-card-content>
    </mat-card> -->
    <mat-card class="dark-card">
      <mat-card-title>330'</mat-card-title>
      <mat-card-content>{{ best330?.value }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card">
      <mat-card-title>Back Split</mat-card-title>
      <mat-card-content>{{ bestBS?.value }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card">
      <mat-card-title>1/8</mat-card-title>
      <mat-card-content>{{ bestEighth?.value }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card">
      <mat-card-title>MPH</mat-card-title>
      <mat-card-content>{{ BestMPH?.value }}</mat-card-content>
    </mat-card>
  </div>
  <mat-divider [inset]="false"></mat-divider>
  <div class="content">
    <div *ngFor="let row of tableData">
      <app-maintenance
        *ngIf="row.type == rowType.MAINTENANCE"
        [maintenance]="row.item"
      ></app-maintenance>
      <app-run
        *ngIf="row.type == rowType.RUN"
        [run]="row.item"
        [pbRT]="bestRT"
        [pb60]="best60"
        [pb330]="best330"
        [pbBS]="bestBS"
        [pbEighth]="bestEighth"
        [pbMPH]="BestMPH"
      ></app-run>
    </div>
  </div>
</div>
