<mat-toolbar color="primary">
  <span>
    Car Tracker
    <span *ngIf="fileTitle"> - {{ fileTitle }}</span>
  </span>
  <span class="spacer"></span>
  <div>
    <button
      mat-icon-button
      aria-label="Create New File"
      matTooltip="Create New File"
      (click)="createNewSave()"
    >
      <mat-icon>library_add</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Open File"
      matTooltip="Open File"
      (click)="openSave()"
    >
      <mat-icon>folder_open</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Toggle Theme"
      [matTooltip]="
        userData?.darkMode ? 'Switch To Light Mode' : 'Switch To Dark Mode'
      "
      (click)="setTheme()"
    >
      <mat-icon>{{ userData?.darkMode ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="root-content">
  <h2 *ngIf="tableData?.length > 0" class="center-heading">Personal Bests</h2>
  <div *ngIf="tableData?.length > 0" class="summary-container">
    <mat-card class="dark-card clickable" (click)="focusOnPb(bestRT)">
      <mat-card-title>R/T</mat-card-title>
      <mat-card-content>{{ bestRT?.value | number: "1.3-3" }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card clickable" (click)="focusOnPb(best60)">
      <mat-card-title>60'</mat-card-title>
      <mat-card-content>{{ best60?.value | number: "1.3-3" }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card clickable" (click)="focusOnPb(bestFS)">
      <mat-card-title>Front Split</mat-card-title>
      <mat-card-content>{{ bestFS?.value }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card clickable" (click)="focusOnPb(best330)">
      <mat-card-title>330'</mat-card-title>
      <mat-card-content>{{
        best330?.value | number: "1.3-3"
      }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card clickable" (click)="focusOnPb(bestBS)">
      <mat-card-title>Back Split</mat-card-title>
      <mat-card-content>{{ bestBS?.value | number: "1.3-3" }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card clickable" (click)="focusOnPb(bestEighth)">
      <mat-card-title>1/8</mat-card-title>
      <mat-card-content>{{
        bestEighth?.value | number: "1.3-3"
      }}</mat-card-content>
    </mat-card>
    <mat-card class="dark-card clickable" (click)="focusOnPb(bestMPH)">
      <mat-card-title>MPH</mat-card-title>
      <mat-card-content>{{
        bestMPH?.value | number: "1.2-2"
      }}</mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="fileTitle" class="mb-sm ml-1">
    <button mat-raised-button color="primary" (click)="openNewRun()">
      <mat-icon aria-hidden="true">description</mat-icon>
      Add Run
    </button>
    <button
      mat-raised-button
      color="accent"
      class="ml-1"
      (click)="openNewMaintenance()"
    >
      <mat-icon aria-hidden="true">build</mat-icon>
      Add Maintenance
    </button>
  </div>
  <mat-divider *ngIf="fileTitle" [inset]="false"></mat-divider>
  <div class="content scroll" #tableItems>
    <div
      *ngFor="let row of tableData; index as i"
      class="mb-1"
      [attr.id]="'table-item-' + i"
    >
      <app-maintenance
        *ngIf="row.type == rowType.MAINTENANCE"
        [maintenance]="$any(row.item)"
      ></app-maintenance>
      <app-run
        *ngIf="row.type == rowType.RUN"
        [run]="$any(row.item)"
        [pbRT]="bestRT"
        [pb60]="best60"
        [pbFS]="bestFS"
        [pb330]="best330"
        [pbBS]="bestBS"
        [pbEighth]="bestEighth"
        [pbMPH]="bestMPH"
      ></app-run>
    </div>
  </div>
</div>
